<header>
  <div class="logo"></div>
  <p class="tituloPagina">Universo de Páginas</p>
  <nav>
    <ul>
      {{#if user}}
        <li>
          <a href="/inicio">Inicio</a>
        </li>
        <li>
          <a href="/api/products">Productos</a>
        </li>
        <li>
          <a href="/api/users/profile">Usuario</a>
        </li>
        <li>
          <a href="/api/users/logout">Cerrar sesión</a>
        </li>
        <li>
          <a href="/api/carts/{{cartId}}"><i
              class="fa-solid fa-cart-shopping"
            ></i></a>
        </li>
      {{else}}
        <a href="/login" class="login">
          <p>Login</p>
        </a>
      {{/if}}
    </ul>
  </nav>
</header>

<main>
  <h1>Carrito de Compras</h1>
  {{#if cart}}
    <div class="tabla">
      {{#each products}}
        <div class="filasTabla">
          <p>{{this.name}}</p>
          <p>{{this.quantity}} Uds </p>
          <p>{{this.price}} CLP </p>
          <p>{{this.total}} CLP </p>
        </div>
      {{/each}}
    </div>

  {{else}}
    <p>El carrito está vacío.</p>
  {{/if}}

  <form method="post" action="/api/carts/{{cartId}}/purchase">
    <label for="deliveryAddress">Dirección de Entrega</label>
    <input type="deliveryAddress" name="deliveryAddress" required />
    <label for="contactPhone">Teléfono</label>
    <input type="contactPhone" name="contactPhone" required />
    <button type="submit" class="boton">Finalizar Compra</button>
  </form>

</main>

<footer>
  <p>Lissett Leal 2024</p>
  <div class="contactos">
    <a href="https://github.com/lissleal">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="">
      <i class="fa-solid fa-briefcase"></i>
    </a>
    <a href="https://www.linkedin.com/in/lissett-leal/">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <p>Realizado con fines educativos</p>
</footer>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>